
:root {
    --clr-primary-500: hsl(208, 27%, 58%);
    --clr-primary-850: hsl(208, 45%, 15%);
    
    --clr-secondary-500: hsl(37, 58%, 52%);
    --clr-secondary-100: hsl(37, 58%, 91%);

    --clr-neutral-100: hsl(0, 0%, 100%); 
    --clr-neutral-300: hsl(227, 16%, 80%);
    --clr-neutral-400: hsl(227, 13%, 71%) ;
    --clr-neutral-500: hsl(227, 13%, 64%);
    --clr-neutral-900: hsl(0 0% 0%);

    --ff-primary: 'Plus Jakarta Sans', 'Open Sans', sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-100: 
    --fs-200: .875rem;/*14px*/
    --fs-300: 1rem;/*16px*/
    --fs-400: 1.25rem;/*18px*/
    --fs-500: 1.5rem;/*24px*/
    --fs-600: 2.125rem;/*34px*/
    --fs-700: 3rem;/*48px*/
    --fs-800:
    --fs-900:


    --fs-h1: var(--fs-700);
    --fs-h2: var(--fs-600);
    --fs-h3: var(--fs-500);
    --fs-btn-lg: var(--fs-400);
    --fs-body: var(--fs-300);
    --fs-pill: var(--fs-200);

    --box-shadow: .063rem .25rem .25rem hsl(208, 45%, 15%, .33); 
    --drop-shadow: drop-shadow(0.031rem 0 .084rem hsl(208, 45%, 15%));
   
}
/****************
Reset Browser CSS  
****************/
/*https://andy-bell.co.uk/a-modern-css-reset/*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin, padding and text sizing */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body and html defaults */
html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5; 
}
 
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-link: auto;
}


/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them*/
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  } 
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/****************
Top Navbar
****************/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    box-shadow: var(--box-shadow); 
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.logo img {
    width: 13.75rem;
}

.nav-list[data-visible]{
  display: block;
}

/* .nav-list {
  display: flex;
  flex-direction: row; 
  justify-content: flex-end;
  align-items: center;
  font-weight: var(--fw-semi-bold);
} */

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-item a {
    padding: .625rem;
    text-decoration: none;
    color: var(--text-primary-850);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
}

.nav-item:hover {
    background-color: white;
}

.nav-item a:hover {
    color: darkgreen;
}

.mobile-nav-toggle .icon-close,
.mobile-nav-toggle .icon-hamburger {
  display: none;
}

/****************
Typography
****************/

.heading > h1, 
.heading > h2,
.heading > p {
    padding-left: 1rem;
}

.heading > h1, 
.heading > h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.75rem;
}

.heading > h2 {
    font-size: 2.25rem;
    padding-top: 1rem;
    line-height: auto;
}

/****************
Case-Study Cards
****************/

.case-study {
    margin: 0 1rem 1.5rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}

.case-study img {
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
    height: 20rem;
    object-fit: cover;
    object-position: 35%;
    background-color: hsl(0, 0%, 100%);
    filter: var(--drop-shadow);
}

.case-study-info-wrap {
  display: flex;
  flex-direction: column;

}

.case-study h3 {
    padding: 1.5rem 1.5rem .25rem 1.55rem;
    line-height: 1.75rem;
}

.case-study-text {
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.horz-case-study {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  box-shadow: var(--box-shadow);
  border: 0.063rem solid var(--clr-primary-500);
  border-radius: 1rem;
}

.horz-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% * (6/12));
  border-radius: 1rem 0 0 1rem;
}

/****************
Skill Pills
****************/

.pill-box {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
  margin: 0 1.5rem;
} 

.pill {
  border-radius: 1rem;
  padding: .188rem 1rem;
}


/****************
Buttons
****************/

/**********RESET********/
button {
  border-width: 0;
  border-style: none;

}

.btn-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn-primary {
  padding: .75rem 2.313rem;
  border-radius: .75rem;
  text-transform: uppercase;
  margin: 24px;
}


/****************
Utility Classes
****************/
  
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.text-primary-500 { color: var(--clr-primary-500); }
.text-primary-850 { color: var(--clr-primary-850); }
.text-secondary-500 { color: var(--clr-secondary-500); }
.text-secondary-100 { color: var(--clr-secondary-100); }
.text-neutral-100 { color: var(--clr-neutral-100); }
.text-neutral-300 { color: var(--clr-neutral-300); }
.text-neutral-400 { color: var(--clr-neutral-400); }
.text-neutral-500 { color: var(--clr-neutral-500); }
.text-neutral-900 { color: var(---clr-neutral-900); }

.bg-primary-500 { background-color: var(--clr-primary-500); }
.bg-primary-850 { background-color: var(--clr-primary-850); }
.bg-secondary-500 { background-color: var(--clr-secondary-500); }
.bg-secondary-100 { background-color: var(--clr-secondary-100); }
.bg-neutral-100 { background-color: var(--clr-neutral-100); }
.bg-neutral-300 { background-color: var(--clr-neutral-300); }
.bg-neutral-400 { background-color: var(--clr-neutral-400); }
.bg-neutral-500 { background-color: var(--clr-neutral-500); }
.bg-neutral-900 { background-color: var(---clr-neutral-900); }

.fw-bold { font-weight: var(--fw-bold); }
.fw-semi-bold { font-weight: var(--fw-semi-bold); }
.fw-regular { font-weight: var(--fw-regular); }

.fs-h1 { font-size: var(--fs-700); }
.fs-h2 { font-size: var(--fs-600); }
.fs-h3 { font-size: var(--fs-500); }
.fs-btn-lg { font-size: var(--fs-400); }
.fs-body { font-size: var(--fs-300); }
.fs-pill { font-size: var(--fs-200); }


.fs-200 { font-size: var(--f3-200); }
.fs-300 { font-size: var(--f3-300); }
.fs-400 { font-size: var(--f3-400); }
.fs-500 { font-size: var(--f3-500); }
.fs-600 { font-size: var(--f3-600); }
.fs-700 { font-size: var(--f3-700); }

.box-shadow { box-shadow: var(--box-shadow); }
.drop-shadow { filter: drop-shadow(0.031rem 0 .084rem hsl(208, 45%, 15%)); } 

/**********************
Mobile Styles (< 480px)
**********************/

@media (max-width: 550px) {
  /*  .primary-navigation {
     display: none;
     position: fixed;
     padding: var(--size-700);
     inset: 7rem var(--size-400) auto;
     max-width: 25rem;
     margin-left: auto;
     background: var(--clr-neutral-100);
     border-radius: var(--size-100);
     box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05);
   } */
 
 /*  .primary-header[data-overlay]::before {
     content: "";
     position: fixed;
     inset: 0;
     /* height: 100vh; 
     background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
   }
 */
   /* .nav-list {
     display: none;
   } */


   /*move this to the 481-768px @media query*/
   /* .nav-list {
     display: grid;
     gap: var(--size-400);
     text-align: center;
     font-weight: var(--fw-bold);
   } */
 
   /* .primary-navigation[data-visible] {
     display: block;
   } */
 
   .mobile-nav-toggle {
     list-style: none;
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     cursor: pointer;
     background: transparent;
   }
 
   .mobile-nav-toggle .icon-close,
   .nav-list {
     display: none;
   }

   .mobile-nav-toggle .icon-hamburger {
    display: block;
   }
 }
 