:root {
  --clr-primary-50: hsl(208, 91%, 97%);
  --clr-primary-100: hsl(208, 75%, 92%);
  --clr-primary-200: hsl(208, 43%, 85%);
  --clr-primary-300: hsl(208, 34%, 76%);
  --clr-primary-400: hsl(208, 27%, 63%);
  --clr-primary-500: hsl(208, 27%, 58%);
  --clr-primary-600: hsl(208, 27%, 48%);
  --clr-primary-700: hsl(208, 27%, 37%);
  --clr-primary-800: hsl(208, 27%, 29%);
  --clr-primary-850: hsl(208, 45%, 15%);
  --clr-primary-900: hsl(208, 27%, 9%);
  
  --clr-secondary-100: hsl(37, 58%, 91%);
  --clr-secondary-200: hsl(37, 58%, 81%);
  --clr-secondary-300: hsl(37, 58%, 72%);
  --clr-secondary-400: hsl(37, 58%, 63%);
  --clr-secondary-500: hsl(37, 58%, 52%);
  --clr-secondary-600: hsl(37, 58%, 41%);
  --clr-secondary-700: hsl(37, 58%, 30%);
  --clr-secondary-800: hsl(37, 58%, 19%);
  --clr-secondary-900: hsl(37, 58%, 8%);

  --clr-neutral-100: hsl(0, 0%, 100%); 
  --clr-neutral-200: hsl(227, 13%, 93%);
  --clr-neutral-300: hsl(227, 13%, 80%);
  --clr-neutral-400: hsl(227, 13%, 71%) ;
  --clr-neutral-500: hsl(227, 13%, 64%);
  --clr-neutral-600: hsl(227, 13%, 46%);
  --clr-neutral-700: hsl(227, 13%, 23%);
  --clr-neutral-800: hsl(227, 13%, 12%);
  --clr-neutral-900: hsl(0 0% 0%);

  --ff-primary: 'Plus Jakarta Sans', 'Open Sans', sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-100: .75rem; /*12px*/
  --fs-200: .875rem;/*14px*/
  --fs-300: 1rem;/*16px*/
  --fs-400: 1.25rem;/*18px*/
  --fs-500: 1.5rem;/*24px*/
  --fs-600: 2.125rem;/*34px*/
  --fs-700: 3rem;/*48px*/
  --fs-800:
  --fs-900:


  --fs-h1: var(--fs-700);
  --fs-h2: var(--fs-600);
  --fs-h3: var(--fs-500);
  --fs-btn-lg: var(--fs-400);
  --fs-body: var(--fs-300);
  --fs-pill: var(--fs-200);
 
  --box-shadow: .063rem .25rem .25rem hsl(208, 45%, 15%, .33); 
  --drop-shadow: drop-shadow(0.5px 0 1.3px var(--clr-neutral-500));
 
}

/****************
Reset Browser CSS  
****************/
/*https://andy-bell.co.uk/a-modern-css-reset/*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* anchor elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
      scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}


/****************
general styling  
****************/

.container {
  --max-width: 69.375rem;
  width: min(var(--max-width), 100% - (1rem * 2));
  margin-inline: auto;
}

.container-about-contact {
  display: grid;
  --max-width: 69.375rem;
  width: min(var(--max-width), 100% - (1rem * 2));
  margin-inline: auto;
}

/****************
Navigation 
****************/

.primary-header {
  padding: .55rem 0;
  box-shadow: var(--box-shadow);
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.mobile-nav-toggle {
  display: none;
}

.logo img {
  width: 13.75rem;
}


.nav-list {
  padding: 0;
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
}

.nav-list {
  display: flex;
}

.nav-item {
  font-size: 1.125rem;
  font-weight: var(--fw-semi-bold);
  line-height: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .03rem;
  list-style-type: none;
  
}

.nav-item a {
  text-decoration: none;
  color: var(--text-primary-850);
  padding: .5rem;
}

.nav-item a:hover,
.nav-item a:focus {
  border: .063rem solid var(--clr-primary-500);
  border-radius: .25rem;
  padding: .45rem .45rem;
}

.nav-item a:active {
  background-color: var(--clr-primary-200);
}

/****************
Typography
****************/

.heading > h1, 
.heading > h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.75rem;
}

.heading > h2 {
  font-size: 2.25rem;
  padding-top: 1rem;
}

h2 > a:link,
h2 > a:visited {
  color: var(--clr-primary-850);
  text-decoration: none;
}

/****************
Case-Study Cards
****************/

.case-study {
  margin: 0 0 1.5rem;
  background-color: var(--clr-neutral-100);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  border: 0.063rem solid var(--clr-neutral-200);
  border-style: inset;
}

.case-study img {
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
  background-color: var(--clr-neutral-100);
  filter: var(--drop-shadow);
  height: auto;
  max-width: 100%;
}

.case-study-info-wrap {
display: flex;
flex-direction: column;

}

.case-study h3 {
  padding: 1.5rem 1.5rem .25rem 1.55rem;
  line-height: 1.75rem;
}

.case-study-text {
  padding: 1.5rem 1.5rem 0 ;
}

.fs-h3 { font-size: var(--fs-500); }


/****************
Skill Pills
****************/

.pill-box {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
  margin: 0 1.5rem;
} 

.pill {
  border-radius: 1rem;
  padding: .188rem 1rem;
}

/****************
Buttons
****************/

/**********RESET********/
button {
  border-width: 0;
  border-style: none;

}

.btn-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn-primary {
  cursor: pointer;
  padding: .75rem 2.313rem;
  border-radius: .75rem;
  text-transform: uppercase;
  margin: 1.5rem;
  background-color: var(--clr-primary-700);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-regular);
  font-size: var(--fs-button);
}

.btn-primary:hover {
  box-shadow: 2px 2px 1px var(--clr-neutral-300);
}

.btn-primary:active {
  box-shadow: inset 2px 2px 1px var(--clr-primary-850);
}

/****************
Contact Form
****************/

.contact-form {
  display: none;
}

/****************
Text Blocks
****************/
.container > h2 {
  padding: .5rem 0 .5rem 0;
}


/********** NOT WORKING: trying to say "any p elements that directly follows an h2 inside a container: ****/
.container ~ h2 ~ p {
  padding: 0 0 .75rem 0;
}

.container > h3 {
  padding: 0 0 .75rem 0;
}

.info-text {
  padding: .5rem 0 1rem 0;
}

.info-links {
  padding: .25rem 0;
}

/****************
Footer
****************/

footer > p {
  display: flex;
  justify-content: center;
  margin: 2rem 0 1rem 0;
}

.credits {
  font-size: var(--fs-100);
  padding-bottom: 1rem;
}
/****************
Media Queries
****************/

@media only screen and (max-width: 490px) {
  .primary-navigation {
      display: none;
      position: fixed; 
      z-index: 2;
      inset: 4rem 1rem auto;
      max-width: 35rem;
      margin-inline: auto  ;
      background: hsl(208, 75%, 92%);
      border-radius: 1rem;
      box-shadow: var(--box-shadow);
  }

  .primary-header[data-overlay]::before {
      z-index: 1;
      content: '';
      position: fixed;
      inset: 0;
      background-color: hsla(0, 0%, 0%, .33);
  }

  .nav-list { 
      display: grid;
      text-align: center;
      margin: 1rem;
  }

  .nav-item {
      padding: .5rem;
  }

  .nav-list a:hover,
  .nav-list a:focus {
      color: var(--clr-secondary-500); 
  }

  .nav-list a:active {
      color: var(--clr-primary-500);
  }
  
  .primary-navigation[data-visible] {
      display: block;
  }

  .mobile-nav-toggle {
      display: block;
      z-index: 99;
      cursor: pointer;
      background: transparent;
      border: 0;
      padding: 0; 
      width: 2rem;
      aspect-ratio: 1;
      background-image: url(img/icon-hamburger.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
  }
  
  .mobile-nav-toggle[aria-expanded=true] {
    background-image: url(img/icon-close.png);
  }

}

@media only screen and (min-width: 768px) {
  .case-study {
      display: flex;
      flex-direction: row;
  }
  .case-study img {
      border-radius: 1rem 0 0 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(100% * (6/12));
  }

  .case-study-info-wrap {
      justify-content: center;
      width: calc(100% * (6/12));
  }

  .reverse {
      flex-direction: row-reverse;
  }

  .reverse img {
      border-radius: 0 1rem 1rem 0;
  }

  /* .even-columns {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
  } */

  .about {
      padding-right: 1.5rem;
      text-align: justify;
  }

  .container,
  .container-about-contact {
    width: min(var(--max-width), 100% - (2rem * 2));
  }

  .container-about-contact {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 3rem;
  }

  .contact > h2 {
    margin-bottom: .5rem;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
  }

  .contact-form-input,
  .contact-form-textarea {
    padding: .5rem 0 .5rem .5rem;
    margin: .25rem 0  1.25rem .5rem;
    border: var(--clr-primary-600) solid 0.063rem;
    border-radius: 0.5rem;
  }

  textarea {
    min-height: 10rem;
  }
  .submit {
    cursor: pointer;
    padding: .75rem 2.313rem;
    border-radius: .75rem;
    text-transform: uppercase;
    margin: 1rem 0 2rem .4rem;
    width: auto;
    color: var(--clr-neutral-100);
    font-weight: var(--fw-regular);
    font-size: var(--fs-button);
  };
}


/****************
Utility Classes
****************/

.visually-hidden {
  position: absolute;
  width: .063rem;
  height: .063rem;
  padding: 0;
  margin: -.063rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.text-primary-100 { color: var(--clr-primary-100); }
.text-primary-200 { color: var(--clr-primary-200); }
.text-primary-300 { color: var(--clr-primary-300); }
.text-primary-400 { color: var(--clr-primary-400); }
.text-primary-500 { color: var(--clr-primary-500); }
.text-primary-600 { color: var(--clr-primary-600); }
.text-primary-700 { color: var(--clr-primary-700); }
.text-primary-800 { color: var(--clr-primary-800); }
.text-primary-850 { color: var(--clr-primary-850); }
.text-primary-900 { color: var(--clr-primary-900); }

.text-secondary-100 { color: var(--clr-secondary-100); }
.text-secondary-200 { color: var(--clr-secondary-200); }
.text-secondary-300 { color: var(--clr-secondary-300); }
.text-secondary-400 { color: var(--clr-secondary-400); }
.text-secondary-500 { color: var(--clr-secondary-500); }
.text-secondary-600 { color: var(--clr-secondary-600); }
.text-secondary-700 { color: var(--clr-secondary-700); }
.text-secondary-800 { color: var(--clr-secondary-800); }
.text-secondary-900 { color: var(--clr-secondary-900); }

.text-neutral-100 { color: var(--clr-neutral-100); }
.text-neutral-200 { color: var(--clr-neutral-200); }
.text-neutral-300 { color: var(--clr-neutral-300); }
.text-neutral-400 { color: var(--clr-neutral-400); }
.text-neutral-500 { color: var(--clr-neutral-500); }
.text-neutral-600 { color: var(--clr-neutral-600); }
.text-neutral-700 { color: var(--clr-neutral-700); }
.text-neutral-800 { color: var(--clr-neutral-800); }
.text-neutral-900 { color: var(---clr-neutral-900); }

.bg-primary-50 { background-color: var(--clr-primary-50); }
.bg-primary-100 { background-color: var(--clr-primary-100); }
.bg-primary-500 { background-color: var(--clr-primary-500); }
.bg-primary-600 { background-color: var(--clr-primary-600); }
.bg-primary-700 { background-color: var(--clr-primary-700); }
.bg-primary-800 { background-color: var(--clr-primary-800); }
.bg-primary-850 { background-color: var(--clr-primary-850); }

.bg-secondary-500 { background-color: var(--clr-secondary-500); }
.bg-secondary-100 { background-color: var(--clr-secondary-100); }

.bg-neutral-100 { background-color: var(--clr-neutral-100); }
.bg-neutral-300 { background-color: var(--clr-neutral-300); }
.bg-neutral-400 { background-color: var(--clr-neutral-400); }
.bg-neutral-500 { background-color: var(--clr-neutral-500); }
.bg-neutral-900 { background-color: var(---clr-neutral-900); }

.fw-bold { font-weight: var(--fw-bold); }
.fw-semi-bold { font-weight: var(--fw-semi-bold); }
.fw-regular { font-weight: var(--fw-regular); }

.fs-h1 { font-size: var(--fs-700); }
.fs-h2 { font-size: var(--fs-600); }
.fs-h3 { font-size: var(--fs-500); }
.fs-btn-lg { font-size: var(--fs-400); }
.fs-body { font-size: var(--fs-300); }
.fs-pill { font-size: var(--fs-200); }

.fs-200 { font-size: var(--fs-200); }
.fs-300 { font-size: var(--fs-300); }
.fs-400 { font-size: var(--fs-400); }
.fs-500 { font-size: var(--fs-500); }
.fs-600 { font-size: var(--fs-600); }
.fs-700 { font-size: var(--fs-700); }

.ff-primary { font-family: var(--ff-primary); }
.ff-heading { font-family: var(--ff-heading); }
.ff-body { font-family: var(--ff-body); }

.box-shadow { box-shadow: var(--box-shadow); }
.drop-shadow { filter: drop-shadow(0.5px 0 1.3px var(--clr-neutral-100)); } 


.even-columns {
  display: grid;
  gap: 1rem;
}

